* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  font-size: 16px;
  overflow-x: hidden; }

body {
  *zoom: 1;
  display: block;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 2em;
  font-family: "ff-meta-web-pro", "DINBek-Regular", Avenir, Helvetica, Arial, serif;
  font-size: 100%;
  min-height: 100%;
  overflow-y: scroll;
  background-color: #FFCE16;
  color: #FF5700; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }

h1 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-size: 56px;
  font-size: 3.5rem;
  font-weight: 700; }

h2 {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700; }


a {
  -webkit-user-select: none;
  color: #FF5700;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  a:hover {
    border-color: #fff; }

::-webkit-input-placeholder {
  color: rgba(255, 87, 0, 0.5); }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 87, 0, 0.5); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 87, 0, 0.5); }

:-ms-input-placeholder {
  color: rgba(255, 87, 0, 0.5); }

p {
  background-color: #FF5700;
  color: #FFCE16;
  padding: 1em;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700; }

.main {
  max-width: 32em;
  margin: auto;
  margin-top: 32px;
  margin-top: 2rem; }

.root {
  color: blue; }

input {
  background-color: transparent;
  border: 1px solid #FF5700;
  font-family: "ff-meta-web-pro", "DINBek-Regular", Avenir, Helvetica, Arial, serif;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  color: #FF5700;
  padding: 0.5em 1em;
  width: 100%; }
  input:active, input:focus {
    outline: 0; }

button {
  width: 100%;
  margin: 0;
  margin-top: 0.5em;
  background-color: #FF5700;
  color: #FFCE16;
  border: none;
  -webkit-display: none;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1em 2em; }
  button:active, button:focus {
    outline: 0; }
  button:hover {
    cursor: pointer;
    opacity: 0.9; }

.logout {
  background-color: transparent;
  color: #FF5700;
  font-size: 14.4px;
  font-size: 0.9rem;
  margin-top: 43.2px;
  margin-top: 2.7rem;
  padding: 0;
  opacity: 0.3;
  text-align: left; }

.radio {
  display: none; }

.radio:checked + label {
  border: 2px solid rgba(255, 255, 255, 0.9); }

.radio-label {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0.5em 0;
  font-weight: 700;
  display: block;
  width: 100%;
  padding: 1em 1em;
  color: #FFCE16;
  background-color: #FF5700;
  border: none; }
  .radio-label:hover {
    cursor: pointer; }

.bacon-img {
  width: 30rem;
  position: fixed;
  right: 0;
  top: 30%;
  z-index: -1; }

.pos-loner {
  margin-top: 176px;
  margin-top: 11rem; }

@media screen and (max-width: 30em) { }
