<h1>Tell us.</h1>
<h2>How important is it that you wake up on time tomorrow?</h2>

<input class="radio" ng-model="importance" type="radio" name="sex" id="5" value="5">
<label ng-click="saveImportance()" class="radio-label" for="5">Crazy Important</label>

<input class="radio" ng-model="importance" type="radio" name="sex" id="4" value="4">
<label ng-click="saveImportance()" class="radio-label" for="4">Pretty Important</label>

<input class="radio" ng-model="importance" type="radio" name="sex" id="3" value="3">
<label ng-click="saveImportance()" class="radio-label" for="3">It would be nice.</label>

<input class="radio" ng-model="importance" type="radio" name="sex" id="2" value="2">
<label ng-click="saveImportance()" class="radio-label" for="2">I don't care</label>

<input class="radio" ng-model="importance" type="radio" name="sex" id="1" value="1">
<label ng-click="saveImportance()" class="radio-label" for="1">Whatever</label>